
{% macro contentSections(sections) %}

  {% for section in sections %}
    
    {% if section._type == 'rteSection' %}
      {% include "sections/rte-section.html" %}
    {% endif %}

    {% if section._type == 'featCoursesSection' %}
      {% include "sections/featCourses-section.html" %}
    {% endif %}

    {% if section._type == 'ctaSection' %}
      {% include "sections/cta-section.html" %}
    {% endif %}

    {% if section._type == 'reusedSection' %}
      {% include "sections/reusable-section.html" %}
    {% endif %}

    {% if section._type == 'staffSection' %}
      {% include "sections/staff-section.html" %}
    {% endif %}

    {% if section._type == 'courseSection' %}
      {% include "sections/course-section.html" %}
    {% endif %}

    {% endfor %}

{% endmacro %}