{% macro pageHeader(
    title,
    date,
    image
   ) %}

 {# {% if image %}
<style>
  .page-header {
    background-image: url('{% croppedUrlFor image, "400", "400" %}');
  }

  @media screen and (min-width: 400px) {
      .page-header {
        background-image: url('{% croppedUrlFor image, "800", "400" %}');
      }
  }
  @media screen and (min-width: 800px) {
      .page-header {
        background-image: url('{% croppedUrlFor image, "1200", "400" %}');
      }
  }
    @media screen and (min-width: 1200px) {
      .page-header {
        background-image: url('{% croppedUrlFor image, "1600", "400" %}');
      }
  }
</style>
{% endif %} #}


<div class="page-header section">
  <div class="wrapper">
    <div class="flow md:gap-bottom-900 lg:gap-bottom-2xl border-bottom">
      {% if date %}
        <time datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time>
      {% endif %}
      <h1>{{title | safe}}</h1>
    </div>
  </div>
</section>

{% endmacro %}
