{# <section class="cta-section myLax" >
  <div class="[ wrapper ]">
      <div class="cta-section__wrapper [ card card__primary flow box-800 ] ">
          
          <div class="cta-section__left [ flow ]">
            <h2>Cursuri pentru orice nivel</h2>
            <p>Începator sau profesionist, iți oferim ocazia de a învata lucruri noi!</p>
          </div>
          
          <div class='cta-section__right'>
              <a class="[ button button--accentDark ]" href="#"><span>Vesi ofertă Cursuri</span></a>
              <a class="[ button button--light ]" href="#"><span>Contactează-ne!</span></a>
          </div>

      </div>
  </div>
</section> #}
