<div class='featuredCourses [ section ]'>

    <div class="[ wrapper with-sidebar-left-l ]">        

      <div>
        {# LEFT #}
        <div class="featuredCourses__left" data-aos="slide-up" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
            <div class="[ flow ]">
                <h2><span class="headline__accent">Cursuri</span> Design 3D</h2>
                <h3 class="[ color-primary ]">Pentru orice nivel</h3>
                <ul>
                    <li>Adaptate oricarui nivel de cunostinte </li>
                    <li>Pentru începatori, avansati sau experți </li>
                    <li>Dureaza 4-8 saptamani </li>
                    <li>4 ore de practica asistata / sapt. </li>
                    <li>4 ore de teorie clar explicata / sapt.</li>
                </ul>
                <div>
                    <p class="upperCaseText"><span>plata în rate disponibilă</span><br />
                    <strong>0743 437 074</strong></p>
                </div>
            </div>
        </div>

        {# RIGHT #}
        <div class="featuredCourses__right [flow ]">

            <div class="[ course-card ] [ card card__primary flow ]"
                data-aos="slide-left"
                {# data-aos-offset="0" #}
                data-aos-duration="1000"
                data-aos-delay="250"
                {#  data-aos-easing="ease-in-out-back"
                data-aos-mirror="true"
                data-aos-once="false"
                data-aos-anchor-placement="top-center" #}
            >
                <h3>Architectura &amp; Design Interior
                    <span class="gap-top-400">Da viata proiectelor tale</span>
                </h3>
                <ul>
                    <li>Invata sa comunici vizual cu clientii prin imagini 3D ale proiectelor tale</li>
                    <li>Principiile teoretice si skill-urile practice</li>
                    <li>Cum sa lucrezi rapid si eficient</li>
                </ul>
                <div class='course-card__footer'>
                    <div class="upperCaseText"><span>Incepand de la</span><br /><strong>1000 RON/modul</strong></div>
                    <a class="[ button button--accentDark ] [ pull-right ]" href="#"><span>Detalii &amp; Inscrieri</span></a>
                </div>
            </div>
            
            <div class="[ course-card ] [ card card__white flow gap-top-600 ]" 
                data-aos="slide-left"
                data-aos-duration="1000"
                data-aos-easing="ease-in-out-back"
            >
                <h3>3D Game Design
                    <span class="gap-top-400">Level Up Your2 3D Skills</span>
                </h3>
                <ul>
                    <li>Modelare &amp; sculptare</li>
                    <li>Rigging &amp; animatie</li>
                    <li>Texturare &amp; renderizare</li>
                    <li>Optimizare pentru performanta</li>
                </ul>
                <div class='course-card__footer'>
                   
                    <div class="upperCaseText"><span>Incepand de la</span><br /><strong>1000 RON</strong></div>
                     <a class="[ button button--accentLight ] [ pull-right ]" href="#"><span>Detalii &amp; Inscrieri</span></a>
                </div>
            </div>

        </div>
        {# /RIGHT #}
      </div>
    </div>
</div>