<div class='featuredCourses courseCardsSection [  ] gap-bototm-800'>

    <div class="wrapper">        

        <div class="switcher-l" style="--switcher-margin: 2rem;">
          <div> <!-- intermediary wrapper -->
            
            {% for courseItem in section.courses %}

              {% set course = courseItem.content %}

              {# ITEM #}
              <div class="courseCardsSection__card 
                color-dark
                
                box-600
                relative 
                {% if loop.index != 1 %} {% endif %}
              ">
              
                <div class="grid">
                  <div class="line horizontal"></div>
                  <div class="line horizontal"></div>
                  <div class="line horizontal"></div>
                  <div class="line vertical"></div>
                  <div class="line vertical"></div>
                  <div class="line vertical"></div>
                  <div class="line vertical"></div>
                  <div class="shadow"></div>
              </div>


                    
                      <div class="flow courseCardsSection__card-content">
                        <h2 class="measure-15">Curs <strong> <br/>{{course.title}}</strong></h2>
                        <h3 class="text-500" style="font-weight: normal;">{{course.tagline}}</h3>
                        <ul class="color-accent text-400">
                          <li>
                            <span class="text-500" style="position: relative; top: 0.2rem; margin-right: 0.5rem;">
                              {% include "partials/svg/course-icon.svg" %}</span>
                              3 module: De Bază, Intermediar și Avansat.
                          </li>
                          <li>
                            <span class="text-500" style="position: relative; top: 0.2rem; margin-right: 0.2rem;">
                              {% include "partials/svg/clock-light-icon.svg" %}</span>
                              8 ore / saptămână (4 teorie, 4 practică)
                          </li>
                          <li>
                            <span class="text-500" style="position: relative; top: 0.2rem; margin-right: 0.2rem;">
                              {% include "partials/svg/calendar-alt-light-icon.svg" %}</span>
                              4-8 săptamâni / modul
                          </li>
                          <li>
                            <span class="text-500" style="position: relative; top: 0.2rem; margin-right: 0.2rem;">
                              {% include "partials/svg/money-bill-wave-alt-regular-icon.svg" %}</span>
                              începând de la 1000 RON / modul
                          </li>
                        </ul>

                        <div class="measure-30 courseCardsSection__underlineList">
                          {{course.description | blocksToMarkdown | markdownify | safe}}
                        </div>

                        {# <div class="cluster-l">
                          <div>
                            <span>
                              <span class="upperCaseText text-400">Începând de la</span>
                              <div class="text-600"><span class="color-accent">{{course.price}}</span> RON / modul</div>
                            </span>
                            
                          </div>
                        </div> #}

                        <div class="cluster-l">
                              <div>
                                <a class="button button--accentDark" href="/cursuri/{{course.slug.current}}"><span>Vezi module</span></a>
                                <a class="button button--outline" href="/inscriere/"><span>Sesiuni / Înscriere</span></a>
                              </div>
                            </div>
                        
                      </div>


              </div>
              {# ITEM #}
            {% endfor %}
          </div>
        </div>
      
    </div>
</div>