$headline-colors: (
  'dark', 
  'light', 
  'accent', 
  'accent-glare', 
  'primary', 
  'primary-glare'
);

.headline {
  font-size: get-size('700');
  max-width: 18ch;

  @include media-query('md') {
    font-size: get-size('800');
  }

  @include media-query('lg') {
    font-size: get-size('900');
  }

  // For each color, create an exception
  @each $headline-color in $headline-colors {
    &[data-color='#{$headline-color}'] {
        color: get-color($headline-color);
    }
  }
}


.headline__accent {
  color: get-color('accent');
  display: block;
  font-size: get-size('900');
}