.switcher-l > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc((var(--switcher-margin, 1rem) / 2) * -1);
}

.switcher-l > * > * {
  flex-grow: 1;
  flex-basis: calc((var(--switcher-measure) - (100% - var(--switcher-margin, 1rem))) * 999);
  margin: calc(var(--switcher-margin, 1rem) / 2);
}

.switcher-l > * > :nth-last-child(n+5),
.switcher-l > * > :nth-last-child(n+5) ~ * {
  flex-basis: 100%;
}