/**
 * WRAPPER
 * Sets a max width, adds a consisten gutter and horizontally
 * centers the contents
 */
.wrapper {
  max-width: 78.125rem;
  padding: 0 get-size('400');
  
  margin-left: auto;
  margin-right: auto;
  position: relative;
  clear: both;
}
