{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/course-material.css'] %}

{% from 'components/page-header.html' import pageHeader %}
{% from 'components/content-sections-course-material.html' import contentSectionsCourseMaterial %}

  {# <script>console.log({{siteCourseMaterial.content.sections | dump | safe}})</script> #}

{# {% block underHeader %}
  {{pageHeader(siteCourseMaterial.content.title)}}
{% endblock %} #}

{% block content %}
  <div class="wrapper gap-top-xl">
    <p class="color-muted">Modul {{siteCourseMaterial.content.courseModule.content.title}}</p>
    <h1 class="gap-top-300">{{siteCourseMaterial.content.title}}</h1>
  </div>
  
  {{contentSectionsCourseMaterial(siteCourseMaterial.content.sections)}}
  
{% endblock %}