.courseChapterTitle {
  background: get-color('light-shade');
  color: get-color('dark');
  padding: get-size('600') 0;
  margin: get-size('xl') 0;
  position: sticky;
  top: 95px;
  z-index: 50;

 

 @media screen and (min-width: 1480px) {
    &__inner {
      margin-left: -3rem;
    }
  }
  
  h2 {
    color: get-color('dark');
  }
}