.courseChapterTitle {
  background: get-color('primary-shade');
  color: get-color('dark');
  padding: get-size('600') 0;
  margin: get-size('xl') 0;
  position: sticky;
  top: 95px;
  z-index: 50;

  & .wrapper {
    max-width: 55rem;
  }

  
  h2 {
    // color: get-color('dark');
  }
}