.hero {
  --sidebar-space: 0;

  &__inner {
    flex-direction: row-reverse;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    position: relative;

    margin-top: -130px!important;
    
    @include media-query('md') {
      margin-top:0;
    }
  }

  &__ct {
    position: absolute;
    right: 150px;
    bottom: 100px;
    z-index: 800;

    display: none;
    
    @include media-query('lg') {
      display: block;
    }
  }
}

#heroLottie {
  max-width: 700px;
}

.partners {
  --sidebar-space: 0;
  --sidebar-flex-basis: 45%;

  & > * > * {
    align-items: flex-start;
  }

}