.section {
  margin: get-size('900') 0;
  
  @include media-query('md') {
    margin: get-size('2xl') 0;
  }
  
  &--padded {
    margin: 0;
  }
  &--padded > * {
    margin: 0;
    padding: get-size('900') 0;
  }
}