.site-head {
  border-bottom: 1px solid white;
  background: #111211;
  background-image: radial-gradient(circle, rgba(10,22,21,1) 0%, rgba(41,4,0,1) 18%, rgba(36,0,50,1) 35%, rgba(10,22,21,1) 100%);
  background-position: bottom right;
  background-size: -100vw -100vh ;

  background-size: 200vw 200vh;
  background-attachment: fixed;
  display: flex;

  padding: 0 get-size('400');
  @include media-query('lg') {
    padding: 0;
  
  }
  
  position: fixed;
  top:0;
  z-index: 900;

  width: 100%;

  @include media-query('lg') {
    width: calc(100% - 80px);
  }
  
  .logo {
    display: flex;
    align-items: center;

    // @include media-query('lg') {
    //   margin-left: get-size('800');
    // }

    a {
      display: flex; align-items: center; 
      text-decoration: none;
    }

    h2 {
      font-size: get-size('700');
      font-weight: 500;
      letter-spacing: 0.005em;
      margin-left: get-size('200');  
    }
    #logoAnimation {
      width: 100px;
      margin: -20px;
      margin-bottom: -25px;
    }
      
  }
  
  & nav {
    flex-basis: 100%;
    display: flex;
    display: none;
    
    @include media-query('lg') {
      display: flex;
    }
    
    ul {
      display: flex;
      flex-basis: 100%;
      padding-top: 0.85rem;
      
     
    }
    
    ul > li {
      display: flex;
      align-items: center;
      margin-left: get-size('400');
    }

    a {
      @extend .nav-link;
    }

  }

  &__cta {
    margin-left: auto;
    border-left: 1px solid white;
    display: flex;
    align-items: center;
    background-color: get-color('accent');
    

    a {
      padding: 0 get-size('900');
      span {
        color: get-color('light');
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
      }
    }
  }

}


