// First up: config and functions
@import 'config';

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

// Pull in blocks

@import 'blocks/blog-list';
@import 'blocks/courseCards-section';
@import 'blocks/hero-inner';
@import 'blocks/page-header';
@import 'blocks/rte-section';
@import 'blocks/youtube-embed';



// Pull in utilities
// @import 'utilities/pinned'



.faqs {
  border-top: 1px solid get-color('dark'); 
  border-bottom: 1px solid get-color('dark'); 
  font-size: get-size('400');

  & > * + div {
    border-top: 1px solid get-color('dark'); 
  }
  & > * {
    padding: get-size('400');
  }

  & h4 {
    color: get-color('dark');
    cursor: pointer;
  }

  & > div > div {
    padding: get-size('400');
  }

  ul {
    @include media-query('md') {
      columns: 2;
      column-gap: get-size('600');
    }
  }
}

.module {

  &__stats, &__stats p {
    border-color: get-color('dark');
    font-size: get-size('400');
  }
}