<section class="hero with-sidebar-left-l">
      
    <div class="hero__inner">
    
      <div class="hero__image border-right [ box-600 ]" data-aos="fade-up" data-aos-delay="200">

        <div id="heroLottie"></div>
        {# <lottie-player 
          src="https://assets10.lottiefiles.com/packages/lf20_27cgfczo.json"  background="transparent"  
          speed="1"  
          style="width: 100%; height: 100%; max-width: 700px;"
          loop  
          autoplay
          preserveAspectRatio="xMidYMidSlice"
          >
        </lottie-player> #}
      </div>

      <div class="hero__text [  box-600 md:box-900 border-right flow  ]" >
        <div class="large-header  gap-top-900">
          <h1 class="headline" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-out">Instruire <br/> <span>3DS Max</span></h1>
          <div class="radial-gradient"></div>
        </div>
        <p class="gap-top-800">
              <span class="text-400 color-muted"  data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-out" data-aos-delay="500">De la experți locali din TM, in persoană, pentru:</span>
              <strong class="visually-hidden">Designer de Interior.</strong>
              <br/>
              <strong class="hero__typeIt text-600 md:text-900" id="typeIt" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-out" data-aos-delay="800"></strong>
        </p>
        <p class="md:gap-top-800" data-aos="fade-right" data-aos-duration="1200" data-aos-easing="ease-out" data-aos-delay="1500">
          Tu ne spui cu ce problemă te confrunti, noi te învățăm cum sa o rezolvi.
        </p>
        <div class="cluster-l" data-aos="fade-right" data-aos-duration="1400" data-aos-easing="ease-out" data-aos-delay="1800">
          <div>
            {# <a class="[ button ]" href="#"><span>Listă Cursuri</span></a> #}
            {# <a class="[ button button--outline ]"  href="#"><span>Înscrie-te</span></a> #}
            <a class="[ nav-link nav-link--big ]"  href="#"><span>Află Cum</span> {% include "partials/svg/arrow-diag-light.svg" %} </a>
          </div>
        </div>

        
        <div class="hero__ct" data-aos="zoom-out-up" data-aos-duration="700" data-aos-easing="ease-out" data-aos-delay="1800">
          <div class="radial-gradient"></div>
          <div class="round-button">
            <div class="round-button-inner">
              <a href="#">
                {% include "partials/svg/arrow-diag-light.svg" %}
              </a>
            </div>
          </div>
        </div>
        
      </div>

  </div>

</section>

<section class="partners">
  <div class="with-sidebar-right-l">
    <div>

      <div class="flow box-600 md:box-900 border-bottom border-top">
        <h2><span>Parteneri</span> <br/> de incredere:</h2>
        <div class="cluster-l">
          <ul class="">
            <li>
              <a href="https://faber.ro/">
                <span class="visually-hidden">Faber</span>
                <img src="/images/logos/faber-logo-white.png" alt="Logo Faber" rel="nooperner noreferrer" target="_blank" height="40" class="partnerLogo"/>
              </a>
              </li>
            <li>
              <a href="https://f-o-r.ro/">
                <span class="visually-hidden">Faber</span>
                <img src="/images/logos/for-logo-white.png" alt="Logo F.O.R." rel="nooperner noreferrer" target="_blank" height="40" class="partnerLogo">
              </a>
              </li>
          </ul>
        </div>
      </div>

      <div class="box-600 md:box-900 flow border-full">
        <h2 class="measure-minor">Credem în <span>importanța educației de calitate</span><br/> în Design 3D</h2>
        <p class="measure-compact">Vrem sa creem profesioniști, nu doar oameni care imită ce fac profesioniștii.</p>
        <div class="cluster-l">
          <div>
            <a class="[ nav-link nav-link--big ]"  href="#"><span>Misiunea Noastră</span> {% include "partials/svg/arrow-diag-light.svg" %} </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


        {# <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_toofqbxc.json"  background="transparent"  speed="1"  style="width: 600px; height: 600px;"  loop  autoplay></lottie-player> #}