<footer class="footer switcher-l">
  <div> <!-- intermediary wrapper -->

    <div class="bottom-split box-800 flow">
      <a href="/" class="logo"><img src="/images/home/logo.png" /></a>
      <p>Hai să păstrăm legatura ;)</p>
      <div class="with-sidebar-right-l overflowing">
        <form id="email-form" name="email-form" data-name="Email Form" class="newsletter-form" _lpchecked="1">
          <input type="email" 
            aria-label="your email address for newsletter subscription"
            class="text-field text-field-no-margin" 
            maxlength="256" name="email-2" 
            data-name="Email 2" placeholder="E-MAIL" 
            id="email-2" required="">
            <button type="submit" value="Send" data-wait="Please wait..." class="button button--white">Trimite</button>
          </form>
        <p class="text-300 color-muted box-200">Promitem ca nu spamăm și nu dăm datele tale nimănui!</p>
      </div>

      <div><p class="gap-top-800">Site si Branding de <a href="https://studiorovst.com">Studio ROVST</a></p></div>
    </div>
    
    <div class="bottom-split box-800 flow">
    <p class="label">Scurtături</p>
      <div class="cluster-l flow-">
        <div>
          <div class="flow">
            <ul class="flow flow-space-300">
              <li><a href="/blog/">Noutăți</a></li>
              <li><a href="/cursuri/curs-3d-studio-max-arhitectura-and-design-interior/">Curs 3D Arhitectură &amp; Design Interior</a></li>
              <li><a href="/cursuri/curs-3d-studio-max-game-design/">Curs 3D Game Design</a></li>
              <li><a href="/echipa-tridia/">Echipă</a></li>
              <li><a href="/despre-noi/">Despre Noi</a></li>
            </ul>
          </div>

          <div class="flow">
            <ul class="flow flow-space-300">
              <li><a href="/contact/">Contact</a></li>
              <li><a href="/termeni-si-conditii/">Termeni și Condiții</a></li>
              <li><a href="/politica-cookies/">Politică cookies</a></li>
              <li><a href="/politica-de-confidentialitate-si-gdpr/">GDPR</a></li>
            </ul>
          </div>
        </div>
      </div>
      
      <div><p class="color-muted text-300">Copyright ©Tridia 2020-2021. <br/>Toate drepturile rezervate.</p></div>
    </div>
    
    <div class="box-800 flow flow-space-400">
      <p class="label">Contact</p>

      <div>
        <p class="label label--small gap-bottom-200">Adresă</p>
        <p>s.c. ASL Mus-Mus s.r.l. <br>
          Str.Surorile Martir Caceu, Nr.9 <br>
          Timișoara, Timis 300585
        </p>
      </div>
      
      <div>
        <p class="label label--small gap-bottom-200">Telefon</p>
        <p><a href="tel:0743437074">0743 437 074</a></p>
      </div>

      <div>
        <p class="label label--small gap-bottom-200">Email</p>
        <p><a href="mailto:info@tridia.ro">info@tridia.ro</a></p>
      </div>


      <div>
        <p class="label label--small gap-bottom-400">Sociale</p>
        <p class="cluster-l">
          <span>
            <span><a class="social-icon" href="#"><img src="https://assets.website-files.com/5fc26bcebd65e872af7fed31/5fc2d6c44a77e5ca2e017c67_5fb410854861eda4ec030b2f_Group%202%201.svg" alt="Facebook Logo Icon"></a></span>
            <span><a href="#" class="social-icon"><img src="https://assets.website-files.com/5fc26bcebd65e872af7fed31/5fc2d6c4e509f31bddd6ec13_5fb410854861edca9a030b2e_Group%209%201.svg" alt="Instagram Logo Icon"></a></span>
            <span><a href="#" class="social-icon"><img src="https://assets.website-files.com/5fc26bcebd65e872af7fed31/5fc2d6c451c3f8eaf374fb3b_5fb410854861ed692b030b2d_Group%2010%201.svg" alt="Twitter Logo Icon"></a></span>
          </span>
        </p>
      </div>
    </div>
  </div>
</footer>