<section class="steps section"> 
  <div class="wrapper">

    <h2 class="measure-small gap-bottom-900" data-aos-once="true" data-aos="fade-right" data-aos-duration="1000">Cum funcționează? <br /><span>E simplu:</span></h2>

    {% for step in steps %}
      <div class="steps__item">

        

        <div class="steps__item-image relative">
          <div class="reveal-cover" data-aos="example-anim3" data-aos-once="true"></div>
          <img src="{{step.image}}" alt="student concentrating on working on a laptop" data-aos="fade" data-aos-once="true" data-aos-duration="0" data-aos-delay="500" />
        </div>

        <div class="steps__item-content">
        
          <div class="bar">
            <div class="circle"></div>
            {% if loop.index < 3 %}
            <div class="line"></div>
            {% endif %}
          </div>

          <p class="step-number">{% include "partials/svg/" + loop.index + ".svg" %}</p>
          <div class="steps__item-text flow">
            <h3 class="h2" data-aos-once="false" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="{{
              (loop.index-1) * 500}}" >{{step.heading | safe}}</h3>

            <div class="flow" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="{{
              (loop.index-1) * 500 + 500}}">
              {{step.content | safe}}
            </div>
            
          </div>

        </div>

    </div>
    {% endfor %}

  </div>
</section>